#profil{
    background-color: black;
    position: relative;
    margin: 0 auto;
    width: 1200px;    
    height: 615px;
    background-size: cover;
}

#profil #joined  {
      display: inline-block;
     color: white;
     background-color: black;
      word-wrap: break-word;
 }

#joined #joined1 {
      display: inline-block;
   
}
#joined #joined2{
      display: inline-block;
    
}
#profil  #imgprofil{
    position: relative;
    word-wrap: break-word;
}

#profil #tabela{
    position: absolute;
    display: inline-block;
   }
    







td{
    color: white;
    align-content: center;
}



body {
	margin : 0;
	padding : 0;
    background-color: black;
}
#main{
		position: relative;
    margin: 0 auto;
    width: 1200px;
    background-image: url("a.gif");
    height: 615px;
    background-size: cover;
}
#bg-image{
		position: relative;
    margin: 0 auto;
    width: 1200px;
    background-image: url("bg.png");
    height: 615px;
    background-size: cover;
}
#regLog{
	width: 500px;
	height: 500px;
	 position: absolute;
	 right: 0;
	 top:100px;
	 }
h1{
	color: white;
}
h2{
    color: white;
}
h3{
	color: white;
}
#txt{
	margin: 0 auto;
	width: 970px;
	height: 100px;
	color: white;
}
#hstyle{
	margin: 0 auto;
	width: 970px;
	height: 35px;
	color: white;
}
.meniu {
		overflow : hidden;
		height : 40px;
		padding : 3px;
}
.meniu ul {
		margin : 0;
		padding : 0;
		text-align : center;
}
.meniu li {
		display : inline-block;
}
.meniu a {
		display : block;
		padding : 0 45px;
		line-height : 40px;
		border : none;
		text-decoration : none;
		text-align : center;
		text-transform : uppercase;
		font-family : sans-serif;
		font-size : 14px;
		font-weight : 300;
		color : #FFFFFF;
}
.content h3{
	position: absolute;
	top: 10%;
	left: 30%;
	width: 100%;
}
.content h4{
	position: absolute;
	top: 16%;
	left: 30%;
	width: 100%;
}
.content p{
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	width: 100%;
}
.content span{
	color: white;
	padding: 10px;
	margin: 30%;
}

.login-block {
    width: 320px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    right: 200px;
    top: 200px;
}

.login-block h1 {
    text-align: center;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid greenyellow;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
    color: #887ECE;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #100752;
}